*.pyc
.vscode
temp*
outputs*
debug*
log*
view*
wandb*
*.bak
data
*build/*
*__pycache__*
diff-surfel-rasterization/diff_surfel_rasterization.egg-info
diff-surfel-rasterization/dist
scaffold-filter/scaffold_filter.egg-info
simple-knn/simple_knn.egg-info
tensorboard_3d
screenshots
*.so
train_mip360_*.py
train_scannetpp_*.py
train_dtu_*.py
train_tnt_*.py